<div id="main-features" class="section is-medium is-theme-primary px-0 mx-0 ">
  <div class="container-fluid px-0 mx-0 ">
    <!-- <div class="content-wrapper"> -->
    <div class="mb-5">
      <h2 class="text-bold text-center text-white">
        The one-stop platform to simplify your cannabis retail business
      </h2>
      <p class="prag_font text-center text-light">
        Pushing the industry forward though collective success our why. The most
        comprehensive, product-driven point of sale is our what
      </p>
    </div>
    <div class="col-md-12 mt-5">
      <div class="d-flex justify-content-around flex-container">
        <div class="col-md-2 left_tial_design">
          <span class="text-bold text-center"></span>
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="product-ordering" class="text-white">Product Ordering</a>
          </span>
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="ecommerce" class="text-white">eCommerce</a>
          </span>
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="javascript:void(0)" class="text-white">Compliance</a>
          </span>
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="javascript:void(0)" class="text-white">Pickup</a>
          </span>
        </div>
        <div class="col-md-2 left_tial_design">
          <span class="text-bold text-center"></span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4">
      <div class="d-flex justify-content-around flex-container">
        <div class="col-md-1 left_tial_design">
          <span class="text-bold text-center"></span>
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="fleet-app" class="text-white">Fleet App</a>
          </span>
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="javascript:void(0)" class="text-white">Scanning</a>
          </span>
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="delivery" class="text-white">Delivery</a>
          </span>
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="javascript:void(0)" class="text-white">Integrations</a>
          </span>
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="javascript:void(0)" class="text-white">Marketing</a>
          </span>
        </div>
        <div class="col-md-1 left_tial_design">
          <span class="text-bold text-center"></span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4">
      <div class="d-flex justify-content-around flex-container">
        <div class="col-md-2 left_tial_design">
          <span class="text-bold text-center"></span>
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="javascript:void(0)" class="text-white">Payments</a>
          </span>
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="javascript:void(0)" class="text-white"
              >Task Management
            </a></span
          >
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="javascript:void(0)" class="text-white">Scheduling</a>
          </span>
        </div>
        <div class="col-md-2 tial_design">
          <span class="text-bold text-center"
            ><a href="javascript:void(0)" class="text-white">Chat</a>
          </span>
        </div>
        <div class="col-md-2 left_tial_design">
          <span class="text-bold text-center"></span>
        </div>
      </div>
    </div>
  </div>
</div>

  <script>
    function myFunction(x) {
      if (x.matches) { // If media query matches
        document.getElementById("main-features").style.display = "none";
        // document.body.style.backgroundColor = "yellow";
      } else {
      //  document.body.style.backgroundColor = "pink";
        document.getElementById("main-features").style.display = "block";
      }
    }
    
    var x = window.matchMedia("(max-width: 700px)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes
    </script>

