<!-- Header Satart-->
<%- include('layout/header') %>
<!-- Header End-->
        <!-- Hero caption -->
        <div id="main-hero" class="hero-body">
            <div class="container">
                <div class="columns is-vcentered is-tablet-portrait">
                    <!-- Large Caption -->
                    <div class="column is-5 is-header-caption has-text-left get-app-lg-veiew">
                        <h1 class="title main-title landing-title" >Work with your staff simply.</h1>
                        <h2 class="subtitle is-5 light-text mt-2">
                            Company culture is everything. Simplify the way you work with one platform for everyone and everything you need to get tasks done. 
                        </h2>
                        <div class="d-flex justify-content-start">
                            <a href="live-demo"  target="_blank" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2"
                                id="get_started_btn3">
                               Self Demo
                            </a>
                            <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2 ml-5"
                                id="get_started_btn2">
                                Get Started
                            </a>
                        </div>
                        <div style="margin-top: 100px;">
                            <h6> Get the app. </h6>
                            <div class="d-flex justify-content-start mt-5">
                                <a href="https://apps.apple.com/us/developer/compliance-and-logistics-specialists-llc/id1530461340" target="_blank" class="d-flex justify-content-start align-items-center app-download-btn" >
                                    
                                        <img src="assets/img/smallicon/apple.png" width="30px" height="30px" alt="" />
                                    
                                    <span class="ml-1"><h5>App Store</h5></span>
                                </a>
                                <a href="https://play.google.com/store/apps/developer?id=Compliance+and+Logistics+Specialists&hl=en_US&gl=US"  target="_blank" class="d-flex justify-content-start align-items-center app-download-btn ml-3" >
                                    <img src="assets/img/smallicon/google-play.png"   width="30px" height="30px" alt="" />
                                    <span class="ml-1"><h5>Play Store</h5></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Samll Caption -->
                    <div class="column is-5 is-header-caption has-text-left get-app-sm-veiew p-0">
                        <h1 class="title main-title landing-title" >Work with your staff simply.</h1>
                        <h2 class="subtitle is-5 light-text mt-2">
                            Company culture is everything. Simplify the way you work with one platform for everyone and everything you need to get tasks done. 
                        </h2>
                        <div class="d-flex justify-content-center">
                            <a href="live-demo"  target="_blank" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2"
                                id="get_started_btn3">
                               Self Demo
                            </a>
                            <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2 ml-5"
                                id="get_started_btn2">
                                Get Started
                            </a>
                        </div>
                        <div style="margin-top: 10px;">
                            <h6> Get the app. </h6>
                            <div class="d-flex justify-content-center mt-5">
                                <a href="https://apps.apple.com/us/developer/compliance-and-logistics-specialists-llc/id1530461340" target="_blank" class="d-flex justify-content-start align-items-center app-download-btn" >
                                    
                                        <img src="assets/img/smallicon/apple.png" width="30px" height="30px" alt="" />
                                    
                                    <span class="ml-1"><h5>App Store</h5></span>
                                </a>
                                <a href="https://play.google.com/store/apps/developer?id=Compliance+and+Logistics+Specialists&hl=en_US&gl=US"  target="_blank" class="d-flex justify-content-start align-items-center app-download-btn ml-3" >
                                    <img src="assets/img/smallicon/google-play.png"   width="30px" height="30px" alt="" />
                                    <span class="ml-1"><h5>Play Store</h5></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column is-7 is-offset-1 mt-5">
                        <!-- <figure class="image is-3by2 hero-figure is-pushed"> -->
                            <img class="" src="assets/img/backofficeimg/TEASER - BACK OFFICE.png" alt="" />
                        <!-- </figure> -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Clients -->
    <div style="padding-top: 30px;" class="bg-white" style="border: 2px solid  black">
        <div class="slide-track d-flex justify-content-around " >
            <div class="slide">
                <img src="assets/img/brandslider/1.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/36.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/2.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/35.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/3.png" alt="" />
            </div>
            <div class="slide sm-screen-veiew">
                <img src="assets/img/brandslider/34.png" alt="" />
            </div>
            <div class="slide sm-screen-veiew">
                <img src="assets/img/brandslider/4.png" alt="" />
            </div>
            <div class="slide sm-screen-veiew">
                <img src="assets/img/brandslider/33.png" alt="" />
            </div>
        </div>
    </div>
    <div id="features" class="section has-circles is-medium " style="background-color: #7F0F49; margin-top: 30px;">
        <div class="container my-6">
            <div class="text-center">
                <h1 class="text-white">Plan, manage, and collaborate on all you do. 
                </h1>
                <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2 mt-6" id="get_started_btn" >
                    Get Started
                </a>
            </div>
        </div>
    </div>
    <!--Feature Section 1-->
    <div id="features" class="section has-circles is-medium bg-white ">
        <div class="container">
            <!--Wrapper-->

            <div class="content-wrapper has-margin-bottom">
                <div class="columns is-vcentered">
                    <!--Laptop-->

                    <!--Content-->
                    <div class="column is-6">
                        <div class="side-title">
                            <h2 class="title">Scheduling Shifts.
                            </h2>
                            <div class="title-number is-single-reveal"></div>
                        </div>
                        <p class="prag_font2 ">
                            Build your employees' schedules in minutes. Let employees access their schedule when they aren't at work and get real-time updates on one centralized platform.
                        </p>
                    </div>
                    <div class="column is-6 ">
                        <div data-aos="zoom-in-left">
                            <img class="side-image" id="tab_imges3"
                                src="assets/img/backofficeimg/SCHEDULING SHIFT.png" data-extension=".png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Feature Section 1-->
    <div id="features" class="section has-circles is-medium bg-white ">
        <div class="container">
            <!--Wrapper-->

            <div class="content-wrapper has-margin-bottom">
                <div class="columns is-vcentered">
                    <!--Laptop-->
                    <div class="column is-6 ">
                        <div data-aos="zoom-in-left">
                            <img class="side-image" id="tab_imges3"
                                src="assets/img/backofficeimg/MANAGE TASK.png" data-extension=".png" alt="" />
                        </div>
                    </div>
                    <!--Content-->
                    <div class="column is-6">
                        <div class="side-title">
                            <h2 class="title">Manage Tasks.</h2>
                            <div class="title-number is-single-reveal"></div>
                        </div>
                        <p class="prag_font2 ">
                            Business runs on tasks. Distribute tasks across your team and make it clear what needs to be done during each shift. Allow employees to easily access their to-dos right from all devices. 
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Feature Section 1-->
    <div id="features" class="section has-circles is-medium bg-white ">
        <div class="container">
            <!--Wrapper-->

            <div class="content-wrapper has-margin-bottom">
                <div class="columns is-vcentered">
                    <!--Laptop-->

                    <!--Content-->
                    <div class="column is-6">
                        <div class="side-title">
                            <h2 class="title">Chat.
                            </h2>
                            <div class="title-number is-single-reveal"></div>
                        </div>
                        <p class="prag_font2 ">
                            Communication is key. Whether is a private message or a group conversations your fleet app provides a better way to stay connected to your team. 
                            This feature helps to promote a better culture promotes collaborations and fosters productive conversations.
                        </p>
                        
                    </div>
                    <div class="column is-6 ">
                        <div data-aos="zoom-in-left">
                            <img class="side-image" id="tab_imges3"
                                src="assets/img/backofficeimg/CHAT BACK OFFICE.png" data-extension=".png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Learn more on features -->
    <div class="section is-medium is-relative section-feature-grey">
        <div class="container has-text-centered multiple_sahpe">
            <div class="columns is-vcentered mb-6">
                <div class="column is-6 is-offset-3 has-text-centered">
                    <div class="section-title-wrapper">
                        <h6 class="top-subtitle">That's not all</h6>
                        <h2 class="title dark-text text-bold main-title is-2">
                            Discover more Features!
                        </h2>
                    </div>
                </div>
            </div>
            <div class="columns is-vcentered ">
                <div class="column is-4">
                    <!-- Side icon box -->
                    <div class="content content-flex">
                        <div class="">
                            <img class="featureimg2 " src="assets/img/featuresimg/shift.png" />
                        </div>
                        <div class="dark-text has-text-left ml-30">
                            <h2 class="text-bold">Reminders </h2>
                            <p class="prag_font">
                                Setting reminders make it easier than ever to remember the things you need to do. Schedule one time reminders, or set recuring notifications for those crucial tasks we need to complete. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <!-- Side icon box -->
                    <div class="content content-flex">
                        <div class="">
                            <!-- <i class="im im-icon-Microphone-4 is-size-2 color-primary"></i> -->
                            <img class="featureimg " src="assets/img/featuresimg/customer-service.png" />
                        </div>
                        <div class="dark-text has-text-left ml-30">
                            <h2 class="text-bold">Video Call </h2>
                            <p class="prag_font">
                                Working on creating the best company culture, for remote or off site staff, Connect with video calls and be together more.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <!-- Side icon box -->
                    <div class="content content-flex">
                        <div class="">
                            <img class="featureimg2 " src="assets/img/featuresimg/link.png" />
                        </div>
                        <div class="dark-text has-text-left ml-30">
                            <h2 class="text-bold">Activities
                            </h2>
                            <p class="prag_font">
                                Each user has a very complex day. Doing several tasks that can’t be tracked easily. With the employee activity list you can see what actions were taken and when
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <p class="pt-20 pb-40">
                <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2"
                    id="get_started_btn">
                    Get Started
                </a>
            </p>
        </div>
    </div>
    <!-- More  features -->
    <%- include('partials/feature-list') %>

    <div id="features" class="section is-medium is-relative bg-white ">
        <div class="container">
            <div class="text-center my-6" >
                <h1 class="">Bring teams together over one shared platform.
                </h1>
                <p class="mt-2 mx-5 mb-5">
                    Getting started is easy and free. Begin by signing up below.
                </p>
                <div class="d-flex justify-content-center"  style="margin-top: 50px">
                    <input type="text" class="form-control w-50" placeholder="Please Enter Email">
                    <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2" id="get_started_btn">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
<!-- Footer Satart-->
<%- include('layout/footer') %>
<!-- Footer End-->