<!-- Header Satart-->
<%- include('layout/header') %>
<!-- Header End-->
        <!-- Hero caption -->
        <div id="main-hero" class="hero-body">
            <div class="container">
                <div class="columns is-vcentered is-tablet-portrait">
                    <!-- Large Screen Caption -->
                    <div class="column is-5 is-header-caption has-text-left get-app-lg-veiew">
                        <h1 class="title main-title landing-title" >The eCommerce platform you can build on.  </h1>
                        <h2 class="subtitle is-5 light-text mt-2">
                            The world is changing. Be sure to enable your custom eCommerce and see a 35% increase per customer order. 
                          
                        </h2>
                        <div class="d-flex justify-content-start">
                            <a href="live-demo"  target="_blank" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2"
                                id="get_started_btn3">
                               Self Demo
                            </a>
                            <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2 ml-5"
                                id="get_started_btn2">
                                Get Started
                            </a>
                        </div>
                        <div style="margin-top: 100px;">
                            <h6> Get the app. </h6>
                            <div class="d-flex justify-content-start mt-5">
                                <a href="https://apps.apple.com/us/developer/compliance-and-logistics-specialists-llc/id1530461340" target="_blank" class="d-flex justify-content-start align-items-center app-download-btn" >
                                    
                                        <img src="assets/img/smallicon/apple.png" width="30px" height="30px" alt="" />
                                    
                                    <span class="ml-1"><h5>App Store</h5></span>
                                </a>
                                <a href="https://play.google.com/store/apps/developer?id=Compliance+and+Logistics+Specialists&hl=en_US&gl=US"  target="_blank" class="d-flex justify-content-start align-items-center app-download-btn ml-3" >
                                    <img src="assets/img/smallicon/google-play.png"   width="30px" height="30px" alt="" />
                                    <span class="ml-1"><h5>Play Store</h5></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Samll Screen Caption -->
                    <div class="column is-5 is-header-caption has-text-left get-app-sm-veiew">
                        <h1 class="title main-title landing-title" >The eCommerce platform you can build on.  </h1>
                        <h2 class="subtitle is-5 light-text mt-2">
                            The world is changing. Be sure to enable your custom eCommerce and see a 35% increase per customer order. 
                          
                        </h2>
                        <div class="d-flex justify-content-center">
                            <a href="live-demo"  target="_blank" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2"
                                id="get_started_btn3">
                               Self Demo
                            </a>
                            <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2 ml-5"
                                id="get_started_btn2">
                                Get Started
                            </a>
                        </div>
                        <div style="margin-top: 10px;">
                            <h6> Get the app. </h6>
                            <div class="d-flex justify-content-center mt-5">
                                <a href="https://apps.apple.com/us/developer/compliance-and-logistics-specialists-llc/id1530461340" target="_blank" class="d-flex justify-content-start align-items-center app-download-btn" >
                                    
                                        <img src="assets/img/smallicon/apple.png" width="30px" height="30px" alt="" />
                                    
                                    <span class="ml-1"><h5>App Store</h5></span>
                                </a>
                                <a href="https://play.google.com/store/apps/developer?id=Compliance+and+Logistics+Specialists&hl=en_US&gl=US"  target="_blank" class="d-flex justify-content-start align-items-center app-download-btn ml-3" >
                                    <img src="assets/img/smallicon/google-play.png"   width="30px" height="30px" alt="" />
                                    <span class="ml-1"><h5>Play Store</h5></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column is-7 is-offset-1 mt-5">
                        <figure class="image is-3by2 hero-figure is-pushed">
                            <img class="" src="assets/img/detailsimg/ECOMMERCE.png" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Clients -->
    <div style="padding-top: 30px;" class="bg-white">
        <div class="slide-track d-flex justify-content-around " >
            <div class="slide sm-screen-veiew">
                <img src="assets/img/brandslider/9.png" alt="" />
            </div>
            <div class="slide sm-screen-veiew">
                <img src="assets/img/brandslider/28.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/10.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/27.png" alt="" />
            </div>
            <div class="slide sm-screen-veiew">
                <img src="assets/img/brandslider/11.png" alt="" />
            </div>
            <div class="slide ">
                <img src="assets/img/brandslider/26.png" alt="" />
            </div>
            <div class="slide ">
                <img src="assets/img/brandslider/12.png" alt="" />
            </div>
            <div class="slide ">
                <img src="assets/img/brandslider/25.png" alt="" />
            </div>
        </div>
    </div>
    <div id="features" class="section has-circles is-medium " style="background-color: #7F0F49; margin-top: 30px;">
        <div class="container my-6">
            <div class="text-center">
                <h1 class="text-white">Fully integrated and built for cannabis retailers.</h1>
                <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2 mt-6" id="get_started_btn" >
                    Get Started
                </a>
            </div>
        </div>
    </div>
    <!--Feature Section 1-->
    <div id="features" class="section has-circles is-medium bg-white ">
        <div class="container">
            <!--Wrapper-->

            <div class="content-wrapper has-margin-bottom">
                <div class="columns is-vcentered">
                    <!--Laptop-->

                    <!--Content-->
                    <div class="column is-6">
                        <div class="side-title">
                            <h2 class="title">Manage Orders.</h2>
                            <div class="title-number is-single-reveal"></div>
                        </div>
                        <p class="prag_font2 ">
                            Turn your retail and delivery business into an online business. All orders placed on your 
                            eCommerce go directly to your point of sale system - making processing orders simple.
                        </p>
                    </div>
                    <div class="column is-6 ">
                        <div data-aos="zoom-in-left">
                            <img class=" side-image" id="tab_imges3"
                                src="assets/img/ecommerceimg/MANAGE ORDER.png" data-extension=".png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Feature Section 1-->
    <div id="features" class="section has-circles is-medium bg-white ">
        <div class="container">
            <!--Wrapper-->

            <div class="content-wrapper has-margin-bottom">
                <div class="columns is-vcentered">
                    <!--Laptop-->
                    <div class="column is-6 ">
                        <div data-aos="zoom-in-left">
                            <img class=" side-image" id="tab_imges3"
                                src="assets/img/ecommerceimg/ECOMMERCE - SUBDOMAIN EMBEDDED.png" data-extension=".png" alt="" />
                        </div>
                    </div>
                    <!--Content-->
                    <div class="column is-6">
                        <div class="side-title">
                            <h2 class="title">Subdomain Enabled.</h2>
                            <div class="title-number is-single-reveal"></div>
                        </div>
                        <p class="prag_font2 ">
                            With your menu being hosted on your own subdomain, this SEO feature helps to build your online presence. Vende’s 
                            automated subdomain creation requires no technical effort from your side - helping you focus on sales.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Feature Section 1-->
    <div id="features" class="section has-circles is-medium bg-white ">
        <div class="container">
            <!--Wrapper-->

            <div class="content-wrapper has-margin-bottom">
                <div class="columns is-vcentered">
                    <!--Laptop-->

                    <!--Content-->
                    <div class="column is-6">
                        <div class="side-title">
                            <h2 class="title">Custom Content.</h2>
                            <div class="title-number is-single-reveal"></div>
                        </div>
                        <p class="prag_font2 ">
                            Vende eCommerce allows you to select and display products in a modular way. Add Bestsellers, Top-Rated, New Products, On-Sale Products, products from specific 
                            categories, or Hand-Picked Products to any page or post on your site. 
                        </p>
                        
                    </div>
                    <div class="column is-6 ">
                        <div data-aos="zoom-in-left">
                            <img class=" side-image" id="tab_imges3"
                                src="assets/img/ecommerceimg/CUSTOM CONTENT.png" data-extension=".png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Learn more on features -->
    <div class="section is-medium is-relative section-feature-grey">
        <div class="container has-text-centered multiple_sahpe">
            <div class="columns is-vcentered mb-6">
                <div class="column is-6 is-offset-3 has-text-centered">
                    <div class="section-title-wrapper">
                        <h6 class="top-subtitle">That's not all</h6>
                        <h2 class="title dark-text text-bold main-title is-2">
                            Discover more Features!
                        </h2>
                    </div>
                </div>
            </div>
            <div class="columns is-vcentered ">
                <div class="column is-4">
                    <!-- Side icon box -->
                    <div class="content content-flex">
                        <div class="">
                            <img class="featureimg2 " src="assets/img/featuresimg/coupon.png" />
                        </div>
                        <div class="dark-text has-text-left ml-30">
                            <h2 class="text-bold">Discounts</h2>
                            <p class="prag_font">
                                Whether you have simple or complex specials, Vende eCommerce is designed for flexibility and transparency.
                                 Discounts are displayed to help drive sales.   
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <!-- Side icon box -->
                    <div class="content content-flex">
                        <div class="">
                            <!-- <i class="im im-icon-Microphone-4 is-size-2 color-primary"></i> -->
                            <img class="featureimg2 " src="assets/img/featuresimg/data.png" />
                        </div>
                        <div class="dark-text has-text-left ml-30">
                            <h2 class="text-bold"> Analytics</h2>
                            <p class="prag_font">
                                With Google Analytics integrated with your eCommerce you are always in the know. Abandoned carts, 
                                conversion funnels, marketing attribution give you insights on how your customers behave. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <!-- Side icon box -->
                    <div class="content content-flex">
                        <div class="">
                            <img class="featureimg2 " src="assets/img/featuresimg/order-delivery.png" />
                        </div>
                        <div class="dark-text has-text-left ml-30">
                            <h2 class="text-bold">Order Types</h2>
                            <p class="prag_font">
                                Vende eCommerce comes with built-in support for every order type including in-store pickup, curbside pickup, and delivery.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <p class="pt-20 pb-40">
                <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2"
                    id="get_started_btn">
                    Get Started
                </a>
            </p>
        </div>
    </div>
    <!-- More  features -->
    <%- include('partials/feature-list') %>
    
    <div id="features" class="section is-medium is-relative bg-white ">
        <div class="container">
            <div class="text-center my-6" >
                <h1 class="">Enable your eCommerce and see an increase of 35% on online orders
                </h1>
                <p class="mt-2 mx-5 mb-5">
                    Getting started is easy and free. Begin by signing up below.
                </p>
                <div class="d-flex justify-content-center"  style="margin-top: 50px">
                    <input type="text" class="form-control w-50" placeholder="Please Enter Email">
                    <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2" id="get_started_btn">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
<!-- Footer Satart-->
<%- include('layout/footer') %>
<!-- Footer End-->