<!-- Header Satart-->
<%- include('layout/header') %>
<!-- Header End-->
        <!-- Hero caption -->
        <div id="main-hero" class="hero-body">
            <div class="container">
                <div class="columns is-vcentered is-tablet-portrait">
                    <!--Large Caption -->
                    <div class="col-md-6 get-app-lg-veiew">
                        <h1 class="title main-title landing-title" >Setting a new standard for cannabis retailers. </h1>
                        <h2 class="subtitle is-5 light-text mt-2">
                            Created for budtenders and diaspatchers, Vende point of sale system is build on speed and ease of use. 
                            Process a transaction on any device. Spend more time with your customers through thoughtfully cultivated features.
                        </h2>
                        <div class="d-flex justify-content-start">
                            <a href="live-demo"  target="_blank" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2"
                                id="get_started_btn3">
                               Self Demo
                            </a>
                            <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2 ml-5"
                                id="get_started_btn2">
                                Get Started
                            </a>
                        </div>
                        <div style="margin-top: 100px;">
                            <h6> Get the app. </h6>
                            <div class="d-flex justify-content-start mt-5">
                                <a href="https://apps.apple.com/us/developer/compliance-and-logistics-specialists-llc/id1530461340" target="_blank" class="d-flex justify-content-start align-items-center app-download-btn" >
                                    
                                        <img src="assets/img/smallicon/apple.png" width="30px" height="30px" alt="" />
                                    
                                    <span class="ml-1"><h5>App Store</h5></span>
                                </a>
                                <a href="https://play.google.com/store/apps/developer?id=Compliance+and+Logistics+Specialists&hl=en_US&gl=US"  target="_blank" class="d-flex justify-content-start align-items-center app-download-btn ml-3" >
                                    <img src="assets/img/smallicon/google-play.png"   width="30px" height="30px" alt="" />
                                    <span class="ml-1"><h5>Play Store</h5></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Samll Caption -->
                    <div class="col-md-6 get-app-sm-veiew">
                        <h1 class="title main-title landing-title" >Setting a new standard for cannabis retailers. </h1>
                        <h2 class="subtitle is-5 light-text mt-2">
                            Created for budtenders and diaspatchers, Vende point of sale system is build on speed and ease of use. 
                            Process a transaction on any device. Spend more time with your customers through thoughtfully cultivated features.
                        </h2>
                        <div class="d-flex justify-content-center">
                            <a href="live-demo"  target="_blank" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2"
                                id="get_started_btn3">
                               Self Demo
                            </a>
                            <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2 ml-5"
                                id="get_started_btn2">
                                Get Started
                            </a>
                        </div>
                        <div style="margin-top: 10px;">
                            <h6> Get the app. </h6>
                            <div class="d-flex justify-content-center mt-5">
                                <a href="https://apps.apple.com/us/developer/compliance-and-logistics-specialists-llc/id1530461340" target="_blank" class="d-flex justify-content-start align-items-center app-download-btn" >
                                    
                                        <img src="assets/img/smallicon/apple.png" width="30px" height="30px" alt="" />
                                    
                                    <span class="ml-1"><h5>App Store</h5></span>
                                </a>
                                <a href="https://play.google.com/store/apps/developer?id=Compliance+and+Logistics+Specialists&hl=en_US&gl=US"  target="_blank" class="d-flex justify-content-start align-items-center app-download-btn ml-3" >
                                    <img src="assets/img/smallicon/google-play.png"   width="30px" height="30px" alt="" />
                                    <span class="ml-1"><h5>Play Store</h5></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-5" >
                        <video loop autoplay muted  id="myvid" >
                            <source src="assets/img/video/Vende loop.mov" type="video/mp4">
                            <source src="assets/img/video/Vende loop.mov" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Clients -->
    <div style="padding-top: 30px;" class="bg-white">
        <div class="slide-track d-flex justify-content-around " >
            <div class="slide">
                <img src="assets/img/brandslider/17.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/1.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/18.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/5.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/19.png" alt="" />
            </div>
            <div class="slide  sm-screen-veiew">
                <img src="assets/img/brandslider/34.png" alt="" />
            </div>
            <div class="slide  sm-screen-veiew">
                <img src="assets/img/brandslider/20.png" alt="" />
            </div>
            <div class="slide  sm-screen-veiew">
                <img src="assets/img/brandslider/31.png" alt="" />
            </div>
        </div>
    </div>
    <div id="features" class="section has-circles is-medium " style="background-color: #7F0F49; margin-top: 30px;">
        <div class="container my-6">
            <div class="text-center">
                <h1 class="text-white"> Process and track all orders through one platform.  </h1>
                <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2 mt-6" id="get_started_btn" >
                    Get Started
                </a>
            </div>
        </div>
    </div>
    <!--Feature Section 1-->
    <div id="features" class="section has-circles is-medium bg-white ">
        <div class="container">
            <!--Wrapper-->

            <div class="content-wrapper has-margin-bottom">
                <div class="columns is-vcentered">
                    <!--Laptop-->

                    <!--Content-->
                    <div class="column is-6">
                        <div class="side-title">
                            <h2 class="title">Simplified Interface.</h2>
                            <div class="title-number is-single-reveal"></div>
                        </div>
                        <p class="prag_font2 ">
                            No need to worry about extensive training. The Vende point of sale system has the most user-friendly interface. No matter what device you are working from,
                             easily navigate and process orders with ease.
                        </p>
                    </div>
                    <div class="column is-6 ">
                        <div data-aos="zoom-in-left">
                            <img class=" side-image" id="tab_imges3"
                                src="assets/img/pointofsaleimg/SIMPLIFIED INTERFACE POS.png" data-extension=".png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Feature Section 1-->
    <div id="features" class="section has-circles is-medium bg-white ">
        <div class="container">
            <!--Wrapper-->

            <div class="content-wrapper has-margin-bottom">
                <div class="columns is-vcentered">
                    <!--Laptop-->
                    <div class="column is-6 ">
                        <div data-aos="zoom-in-left">
                            <img class=" side-image" id="tab_imges3"
                                src="assets/img/pointofsaleimg/HANDLE ALL ORDERS.png" data-extension=".png" alt="" />
                        </div>
                    </div>
                    <!--Content-->
                    <div class="column is-6">
                        <div class="side-title">
                            <h2 class="title">Handle All Orders.</h2>
                            <div class="title-number is-single-reveal"></div>
                        </div>
                        <p class="prag_font2 ">
                            Ensuring an efficient operation, all orders are handled in the same system. Whether the customer is in-store, placed a pickup order, or would like to get their order delivered, you can easily track the status and deliver exceptional customer service.  

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Feature Section 1-->
    <div id="features" class="section has-circles is-medium bg-white ">
        <div class="container">
            <!--Wrapper-->

            <div class="content-wrapper has-margin-bottom">
                <div class="columns is-vcentered">
                    <!--Laptop-->

                    <!--Content-->
                    <div class="column is-6">
                        <div class="side-title">
                            <h2 class="title"> Inventory .</h2>
                            <div class="title-number is-single-reveal"></div>
                        </div>
                        <p class="prag_font2 ">
                            Inventory is everything to your cannabis business. Easily see inventory metrics and manage all your menus from one location. Receiving, auditing, and transfering your inventory is as simple as a click of a button.
                        </p>
                        
                    </div>
                    <div class="column is-6 ">
                        <div data-aos="zoom-in-left">
                            <img class=" side-image" id="tab_imges3"
                                src="assets/img/pointofsaleimg/INVENTORY.png" data-extension=".png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Learn more on features -->
    <div class="section is-medium is-relative section-feature-grey">
        <div class="container has-text-centered multiple_sahpe">
            <div class="columns is-vcentered mb-6">
                <div class="column is-6 is-offset-3 has-text-centered">
                    <div class="section-title-wrapper">
                        <h6 class="top-subtitle">That's not all</h6>
                        <h2 class="title dark-text text-bold main-title is-2">
                            Discover more Features!
                        </h2>
                    </div>
                </div>
            </div>
            <div class="columns is-vcentered ">
                <div class="column is-4">
                    <!-- Side icon box -->
                    <div class="content content-flex">
                        <div class="">
                            <img class="featureimg " src="assets/img/featuresimg/puzzale.png" />
                        </div>
                        <div class="dark-text has-text-left ml-30">
                            <h2 class="text-bold">Compatibility</h2>
                            <p class="prag_font">
                                The Vende point of sale system can be used on any device. Windows, MAC, Android, iPad, and IOS are all compatible with your Point of Sale system
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <!-- Side icon box -->
                    <div class="content content-flex">
                        <div class="">
                            <!-- <i class="im im-icon-Microphone-4 is-size-2 color-primary"></i> -->
                            <img class="featureimg " src="assets/img/featuresimg/barcode.png" />
                        </div>
                        <div class="dark-text has-text-left ml-30">
                            <h2 class="text-bold">Scanning</h2>
                            <p class="prag_font">
                                Spend less time completing forms and more time with your customers. Quickly scan ID’s for Intake and scan products for checkout.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <!-- Side icon box -->
                    <div class="content content-flex">
                        <div class="">
                            <img class="featureimg " src="assets/img/featuresimg/profit.png" />
                        </div>
                        <div class="dark-text has-text-left ml-30">
                            <h2 class="text-bold">Marketing
                            </h2>
                            <p class="prag_font">
                                Automate sms and email notifications for timely actions like delivery in route. Use the Campaign feature to blast a sale to all your customers. 
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <p class="pt-20 pb-40">
                <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2"
                    id="get_started_btn">
                    Get Started
                </a>
            </p>
        </div>
    </div>
    <!-- More  features -->
    <%- include('partials/feature-list') %>
    
    <div id="features" class="section is-medium is-relative bg-white ">
        <div class="container">
            <div class="text-center my-6" >
                <h1 class=""> Manage cannabis retail, delivery, and eCommerce, all from one platform.
                </h1>
                <p class="mt-2 mx-5 mb-5">
                    Getting started is easy and free. Begin by signing up below.
                </p>
                <div class="d-flex justify-content-center"  style="margin-top: 50px">
                    <input type="text" class="form-control w-50" placeholder="Please Enter Email">
                    <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2" id="get_started_btn">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
<!-- Footer Satart-->
<%- include('layout/footer') %>
<!-- Footer End-->