<!-- Header Satart-->
<%- include('layout/header') %>
<!-- Header End-->
        <!-- Hero caption -->
        <div id="main-hero" class="hero-body">
            <div class="container">
                <div class="columns is-vcentered is-tablet-portrait">
                    <!-- Large Caption -->
                    <div class="column is-5 is-header-caption has-text-left get-app-lg-veiew">
                        <h1 class="title main-title landing-title" >Manage all your product on one platform. </h1>
                        <h2 class="subtitle is-5 light-text mt-2">
                            Save up to 10 hours per week by centralizing where all inventory activity takes place. With your new product ordering feature, 
                            retailers can view and order products as simply as a click of a button. 
                        </h2>
                        <div class="d-flex justify-content-start">
                            <a href="live-demo"  target="_blank" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2"
                                id="get_started_btn3">
                               Self Demo
                            </a>
                            <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2 ml-5"
                                id="get_started_btn2">
                                Get Started
                            </a>
                        </div>
                        <div style="margin-top: 100px;">
                            <h6> Get the app. </h6>
                            <div class="d-flex justify-content-start mt-5">
                                <a href="https://apps.apple.com/us/developer/compliance-and-logistics-specialists-llc/id1530461340" target="_blank" class="d-flex justify-content-start align-items-center app-download-btn" >
                                    
                                        <img src="assets/img/smallicon/apple.png" width="30px" height="30px" alt="" />
                                    
                                    <span class="ml-1"><h5>App Store</h5></span>
                                </a>
                                <a href="https://play.google.com/store/apps/developer?id=Compliance+and+Logistics+Specialists&hl=en_US&gl=US"  target="_blank" class="d-flex justify-content-start align-items-center app-download-btn ml-3" >
                                    <img src="assets/img/smallicon/google-play.png"   width="30px" height="30px" alt="" />
                                    <span class="ml-1"><h5>Play Store</h5></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Samll Caption -->
                    <div class="column is-5 is-header-caption has-text-left get-app-sm-veiew">
                        <h1 class="title main-title landing-title" >Manage all your product on one platform. </h1>
                        <h2 class="subtitle is-5 light-text mt-2">
                            Save up to 10 hours per week by centralizing where all inventory activity takes place. With your new product ordering feature, 
                            retailers can view and order products as simply as a click of a button. 
                        </h2>
                        <div class="d-flex justify-content-center">
                            <a href="live-demo"  target="_blank" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2"
                                id="get_started_btn3">
                               Self Demo
                            </a>
                            <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2 ml-5"
                                id="get_started_btn2">
                                Get Started
                            </a>
                        </div>
                        <div style="margin-top: 10px;">
                            <h6> Get the app. </h6>
                            <div class="d-flex justify-content-center mt-5">
                                <a href="https://apps.apple.com/us/developer/compliance-and-logistics-specialists-llc/id1530461340" target="_blank" class="d-flex justify-content-start align-items-center app-download-btn" >
                                    
                                        <img src="assets/img/smallicon/apple.png" width="30px" height="30px" alt="" />
                                    
                                    <span class="ml-1"><h5>App Store</h5></span>
                                </a>
                                <a href="https://play.google.com/store/apps/developer?id=Compliance+and+Logistics+Specialists&hl=en_US&gl=US"  target="_blank" class="d-flex justify-content-start align-items-center app-download-btn ml-3" >
                                    <img src="assets/img/smallicon/google-play.png"   width="30px" height="30px" alt="" />
                                    <span class="ml-1"><h5>Play Store</h5></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column is-7 is-offset-1 mt-5">
                        <figure class="image is-3by2 hero-figure is-pushed">
                            <img class="" src="assets/img/productorderingimg/TEASER 2.png" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Clients -->
    <div style="padding-top: 30px;" class="bg-white">
        <div class="slide-track d-flex justify-content-around " >
            <div class="slide">
                <img src="assets/img/brandslider/5.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/7.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/15.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/20.png" alt="" />
            </div>
            <div class="slide">
                <img src="assets/img/brandslider/25.png" alt="" />
            </div>
            <div class="slide sm-screen-veiew">
                <img src="assets/img/brandslider/30.png" alt="" />
            </div>
            <div class="slide sm-screen-veiew">
                <img src="assets/img/brandslider/35.png" alt="" />
            </div>
            <div class="slide sm-screen-veiew">
                <img src="assets/img/brandslider/1.png" alt="" />
            </div>
        </div>
    </div>
    <div id="features" class="section has-circles is-medium " style="background-color: #7F0F49; margin-top: 30px;">
        <div class="container my-6">
            <div class="text-center">
                <h1 class="text-white">Order product in restock inventory simply. 
                </h1>
                <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2 mt-6" id="get_started_btn" >
                    Get Started
                </a>
            </div>
        </div>
    </div>
    <!--Feature Section 1-->
    <div id="features" class="section has-circles is-medium bg-white ">
        <div class="container">
            <!--Wrapper-->

            <div class="content-wrapper has-margin-bottom">
                <div class="columns is-vcentered">
                    <!--Laptop-->

                    <!--Content-->
                    <div class="column is-6">
                        <div class="side-title">
                            <h2 class="title">Order Product.</h2>
                            <div class="title-number is-single-reveal"></div>
                        </div>
                        <p class="prag_font2 ">
                            The products you buy and carry are essential to your success.This is why we have a product dashboard where you can reorder products that are low in stock, 
                            See purchase analytics, and be in the know of what products are selling in your region.   
                        </p>
                    </div>
                    <div class="column is-6 ">
                        <div data-aos="zoom-in-left">
                            <img class=" side-image" id="tab_imges3"
                                src="assets/img/productorderingimg/PRODUCT ORDERING - ORDER PRODUCT.png" data-extension=".png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Feature Section 1-->
    <div id="features" class="section has-circles is-medium bg-white ">
        <div class="container">
            <!--Wrapper-->

            <div class="content-wrapper has-margin-bottom">
                <div class="columns is-vcentered">
                    <!--Laptop-->
                    <div class="column is-6 ">
                        <div data-aos="zoom-in-left">
                            <img class=" side-image" id="tab_imges3"
                                src="assets/img/productorderingimg/PRODUCT ORDERING - PRODUCT DASHBOARD.png" data-extension=".png" alt="" />
                        </div>
                    </div>
                    <!--Content-->
                    <div class="column is-6">
                        <div class="side-title">
                            <h2 class="title">Product Dashboard.
                            </h2>
                            <div class="title-number is-single-reveal"></div>
                        </div>
                        <p class="prag_font2 ">
                            The products you buy and carry are essential to your success.This is why we have a product dashboard where you can reorder products that are low in stock, See purchase analytics, and be in the know of what products are selling in your region.    

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Feature Section 1-->
    <div id="features" class="section has-circles is-medium bg-white ">
        <div class="container">
            <!--Wrapper-->

            <div class="content-wrapper has-margin-bottom">
                <div class="columns is-vcentered">
                    <!--Laptop-->

                    <!--Content-->
                    <div class="column is-6">
                        <div class="side-title">
                            <h2 class="title">Automate Purchase Orders.</h2>
                            <div class="title-number is-single-reveal"></div>
                        </div>
                        <p class="prag_font2 ">
                            The wholesale eCommerce is fully integrated with your point of sale system. This means when you place an order, a purchase order is automatically created. Giving you real-time updates as to order status through your purchase order details, and makes importing a simple task.

                        </p>
                        
                    </div>
                    <div class="column is-6 ">
                        <div data-aos="zoom-in-left">
                            <img class=" side-image" id="tab_imges3"
                                src="assets/img/productorderingimg/PRODUCT ORDERING - AUTOMATE PURCHASING ORDERS.png" data-extension=".png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Learn more on features -->
    <div class="section is-medium is-relative section-feature-grey">
        <div class="container has-text-centered multiple_sahpe">
            <div class="columns is-vcentered mb-6">
                <div class="column is-6 is-offset-3 has-text-centered">
                    <div class="section-title-wrapper">
                        <h6 class="top-subtitle">That's not all</h6>
                        <h2 class="title dark-text text-bold main-title is-2">
                            Discover more Features!
                        </h2>
                    </div>
                </div>
            </div>
            <div class="columns is-vcentered ">
                <div class="column is-4">
                    <!-- Side icon box -->
                    <div class="content content-flex">
                        <div class="">
                            <img class="featureimg " src="assets/img/featuresimg/double.png" />
                        </div>
                        <div class="dark-text has-text-left ml-30">
                            <h2 class="text-bold">Chat</h2>
                            <p class="prag_font">
                                Directly message the brand representatives through your system. Ask about new product drops and follow up on some questions you may have.  
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <!-- Side icon box -->
                    <div class="content content-flex">
                        <div class="">
                            <!-- <i class="im im-icon-Microphone-4 is-size-2 color-primary"></i> -->
                            <img class="featureimg " src="assets/img/featuresimg/discover.png" />
                        </div>
                        <div class="dark-text has-text-left ml-30">
                            <h2 class="text-bold">Discover </h2>
                            <p class="prag_font">
                                With more and more brands joining the platform each day, discover what's new to the market. Brouse products or search by using our advanced filters. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <!-- Side icon box -->
                    <div class="content content-flex">
                        <div class="">
                            <img class="featureimg " src="assets/img/featuresimg/contract.png" />
                        </div>
                        <div class="dark-text has-text-left ml-30">
                            <h2 class="text-bold">Documents
                            </h2>
                            <p class="prag_font">
                                Manage all your wholesale product documents through one screen. No need to keep all those filing cabinets of COA’s. 
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <p class="pt-20 pb-40">
                <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2"
                    id="get_started_btn">
                    Get Started
                </a>
            </p>
        </div>
    </div>
    <!-- More  features -->
    <%- include('partials/feature-list') %>
    
    <div id="features" class="section is-medium is-relative bg-white ">
        <div class="container">
            <div class="text-center my-6" >
                <h1 class="">Start ordering from a centralized platform today.
                </h1>
                <p class="mt-2 mx-5 mb-5">
                    Getting started is easy and free. Begin by signing up below.
                </p>
                <div class="d-flex justify-content-center"  style="margin-top: 50px">
                    <input type="text" class="form-control w-50" placeholder="Please Enter Email">
                    <a href="signup" class="button button-cta btn-align btn-outlined is-bold light-btn  z-index-2" id="get_started_btn">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Satart-->
<%- include('layout/footer') %>
<!-- Footer End-->