<!-- Header Satart-->
<%- include('layout/header') %>
    <!-- Header End-->
    <!-- Hero caption -->
    <div class="col-md-12">
        <a target="_blank" href="http://posrooted.epizy.com/"> <img class="side-image"
                src="assets/img/WEB BANNER DESIGN VENDE TRANSPARENT.png" data-extension=".png" alt="" />
        </a>
    </div>
    </div>
    <!-- /Wrapper -->

    <!-- Side navigation -->

    <!-- /Side navigation -->
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/core.js"></script>
    <script>
        $("#self-demo").click(function () {
            aler("aaa");
        })
    </script>

    </body>

    </html>