<title>
  Cannabis Retailer and Delivery Point of Sale. Easy to Use from any Device :
  Vende
</title>

<meta
  name="description"
  content="Vende cannabis retailer and delivery service  point of sale system. Manage orders and customers through an easy to use interface."
/>

<link rel="canonical" href="https://vende.sale/point-of-sale" />

<meta property="og:locale" content="en_US" />

<meta property="og:type" content="website" />

<meta
  property="og:title"
  content="Cannabis Retailer and Delivery Point of Sale. Easy to Use from any Device : Vende"
/>

<meta
  property="og:description"
  content="Vende cannabis retailer and delivery
service point of sale system. Manage orders and customers through an easy to use
interface."
/>

<meta property="og:url" content="https://vende.sale/point-of-sale" />

<meta property="og:site_name" content="Vende" />
