<title>Cannabis Retail and Delivery Point of Sale Pricing : Vende</title>

<meta
  name="description"
  content="Vende is free cannabis pos for all single cannabis licensed users. As you grow we grow."
/>

<link rel="canonical" href="https://vende.sale/pricing" />

<meta property="og:locale" content="en_US" />

<meta property="og:type" content="website" />

<meta
  property="og:title"
  content="Cannabis Retail and Delivery Point of Sale Pricing : Vende"
/>

<meta
  property="og:description"
  content="Vende is free cannabis pos for all
single cannabis licensed users. As you grow we grow."
/>

<meta property="og:url" content="https://vende.sale/pricing" />

<meta property="og:site_name" content="Vende" />
