<title>
  Cannabis Point of Sale | Free Custom Ecommerce for Cannabis Retail and
  Delivery Services : Vende
</title>

<meta
  name="description"
  content="Vende platform gives a free custom ecommerce for all cannabis retailers and delivery services that use the Vende platform. Increase sales by 35% by accepting online orders."
/>

<link rel="canonical" href="https://vende.sale/ecommerce" />

<meta property="og:locale" content="en_US" />

<meta property="og:type" content="website" />

<meta
  property="og:title"
  content="Cannabis Point of Sale | Free Custom Ecommerce for Cannabis Retail and Delivery Services : Vende"
/>

<meta
  property="og:description"
  content="Vende platform gives a free custom
ecommerce for all cannabis retailers and delivery services that use the Vende
platform. Increase sales by 35% by accepting online orders."
/>

<meta property="og:url" content="https://vende.sale/ecommerce" />

<meta property="og:site_name" content="Vende" />
