<title><%= blog.meta_title %> - Vende</title>

<meta name="description" content="<%= blog.meta_description %>" />
<meta name="keywords" content="<%= blog.meta_keyword %>" />
<meta name="author" content="Vende" />
