<title>Cannabis Point of Sale for Delivery Services : Vende</title>

<meta
  name="description"
  content="Vende delivery point of sale is easy to use and allows users to manage entire fleet from one platform. Track drivers, routes and receive suggestions with smart driver pick."
/>

<link rel="canonical" href="https://vende.sale/delivery" />

<meta property="og:locale" content="en_US" />

<meta property="og:type" content="website" />

<meta
  property="og:title"
  content="Cannabis Point of Sale for Delivery Services : Vende"
/>

<meta
  property="og:description"
  content="Vende delivery point of sale is easy to
use and allows users to manage entire fleet from one platform. Track drivers,
routes and receive suggestions with smart driver pick."
/>

<meta property="og:url" content="https://vende.sale/delivery" />

<meta property="og:site_name" content="Vende" />
