<title>Cannabis Point of Sale and Management System : Vende</title>

<meta
  name="description"
  content="Vende cannabis point of sale system for retailers and delivery services. Inventory management, product ordering, and back office support for your cannabis retail business."
/>

<link rel="canonical" href="https://vende.sale/" />

<meta property="og:locale" content="en_US" />

<meta property="og:type" content="website" />

<meta
  property="og:title"
  content="Cannabis Point of Sale and Management System : Vende"
/>

<meta
  property="og:description"
  content="Vende cannabis point of sale system for
retailers and delivery services. Inventory management, product ordering, and
back office support for your cannabis retail business."
/>

<meta property="og:url" content="https://vende.sale/" />

<meta property="og:site_name" content="Vende" />
