<title>
  Cannabis Point of Sale | Let your Drivers Manage their Deliveries via Fleet
  App : Vende
</title>

<meta
  name="description"
  content="Vende fleet app gives drivers all the information they need to successfully deliver orders, while giving dispatchers and managers the flexibility to make changes on the fly."
/>

<link rel="canonical" href="https://vende.sale/fleet-app" />

<meta property="og:locale" content="en_US" />

<meta property="og:type" content="website" />

<meta
  property="og:title"
  content="Cannabis Point of Sale | Let your Drivers Manage their Deliveries via Fleet App : Vende"
/>

<meta
  property="og:description"
  content="Vende fleet app gives drivers all the
information they need to successfully deliver orders, while giving dispatchers
and managers the flexibility to make changes on the fly."
/>

<meta property="og:url" content="https://vende.sale/fleet-app" />

<meta property="og:site_name" content="Vende" />
