<title>
  Get started and start using the free cannabis point of sale system : Vende
</title>

<meta
  name="description"
  content="Get started using the Vende point of sale system for free. Get started in as little as 3 minutes."
/>

<link rel="canonical" href="https://vende.sale/signup" />

<meta property="og:locale" content="en_US" />

<meta property="og:type" content="website" />

<meta
  property="og:title"
  content="Get started and start using the free cannabis point of sale system : Vende"
/>

<meta
  property="og:description"
  content="Get started using the Vende point of
sale system for free. Get started in as little as 3 minutes."
/>

<meta property="og:url" content="https://vende.sale/signup" />

<meta property="og:site_name" content="Vende" />
