    <div id="backtotop"><a href="#"></a></div>
    <script src="assets/js/core.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

      var posApiUrl = "<%- config.api.posApiUrl %>";
      var adminApiUrl = "<%- config.api.adminApiUrl %>";
    </script>

    <!-- Start of vendepos Zendesk Widget script -->
    <script id="ze-snippet" defer src="https://static.zdassets.com/ekr/snippet.js?key=0f2003a9-3dae-4a39-912f-2363ae74b118"> </script>
    <!-- End of vendepos Zendesk Widget script -->
  </body>
</html>